.app-container {
  width: 100%;
  max-width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  
  form {
    max-width: 600px;  // Limit the width of the form on larger screens
    width: 100%;       // Make sure the form is responsive
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .custom-button {
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
  }
}

.language-select {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;

  .ant-select-selector {
    border-radius: 8px;
    height: 40px;
    align-items: center;
    display: flex;
    padding: 0 12px;
  }
}
